body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f9da63;
  transition: 1s;
}

.slide {
  background: #f43648;
}

.container {
  position: relative;
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  width: 50%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.box h2 {
  text-shadow: 2px 2px 2px #000;
  color: #f9da63;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.box button {
  cursor: pointer;
  padding: 10px 20px;
  background: #3c91e6;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
}

.formBx {
  position: absolute;
  left: 50px;
  width: 350px;
  height: 480px;
  background: #fff;
  z-index: 900;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  transition-delay: 0.5s;
  overflow: hidden;
}

.slide .formBx {
  left: 400px;
}

.form {
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.signupform {
  top: 100%;
  transition-delay: 0s;
}

.slide .signupform {
  top: 0;
  transition-delay: 1s;
}

.signinform {
  top: 0;
  transition-delay: 1s;
}

.slide .signinform {
  top: -100%;
  transition-delay: 0s;
}
form {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  width: 100%;
}
form h3 {
  font-size: 1.4em;
  color: #333;
  margin-bottom: 600;
}
form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  outline: none;
  font-size: 0.8em;
  text-transform: uppercase;
  border: 1px solid #333;
  letter-spacing: 0.1em;
}
form button[type="submit"] {
  background: #03a9f4;
  border-radius: 30px;
  color: #fff;
  max-width: 100px;
  cursor: pointer;
  padding: 5px;
  text-shadow: 2px 2px 2px #000;
}
.signupform form input[type="submit"] {
  background: #f43648;
}
.forgot {
  padding: 20px;
  color: #333;
  letter-spacing: 0.05em;
  font-size: 0.8em;
}
